h1{
    background-color: blue;
}
.hca{
    background-color: brown;
    color:wheat;
}
.pa{
    background-color: aqua;
    color:blue
}
#ida{
    background-color: yellow; 
}

.box_1{
    background-color: red;
    height: 200px;
    width: 200px;;
    border:15px solid black;
    border-radius: 50px;
    text-align: center;
}
.box_2{
    background-color: red;
    height: 200px;
    width: 200px;;
    border: 15px dotted green;
    text-align: center;
}
.box_3{
    background-color: red;
    height: 200px;
    width: 200px;;
    border:15px dashed wheat;
    text-align: center;
}
.box_4{
    background-color: red;
    height: 200px;
    width: 200px;;
    border:15px double green;
    border-radius: 50px;
    text-align: center;
}
.line{
    display: flex;
}
